@using TeamDataForum.Web.Models.ViewModels.Posts
@model ForumPostViewModel

@if (Model != null)
{
    <div>@Html.ActionLink(Model.Title, "View", "Post", new { Id = Model.Id }, null)</div>
    <div>@Html.DisplayFor(m => m.Author, "Users/UserViewModel")</div>
    <div>@Model.Date</div>
}