@using TeamDataForum.Web.Models.ViewModels.Posts
@model ForumPostViewModel

@if (Model != null)
{
    <div>In thread @Html.ActionLink(Model.Title, "View", "Post", new { Id = Model.Id }, null)</div>
    <div>Created by @Html.DisplayFor(m => m.Author, "Users/UserViewModel")</div>
    <div>Created on @Model.Date.ToString("dd.MM.yyyy HH:mm")</div>
}