@using TeamDataForum.Web.Models.BindingModels.Posts
@model ThreadPostBindingModel

@{
    ViewBag.Title = "Create new post";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Create</h2>

@Html.EditorForModel("Posts/ThreadPostBindingModel")