@using TeamDataForum.Web.Models.BindingModels.Posts
@model PostDeleteBindingModel

@{
    ViewBag.Title = "Delete post";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Delete</h2>

@Html.EditorForModel("Posts/PostDeleteBindingModel")