@using TeamDataForum.Web.Models.BindingModels.Posts
@model EditPostBindingModel

@{
    ViewBag.Title = "Edit post";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Edit</h2>

@Html.EditorForModel("Posts/EditPostBindingModel")