@using TeamDataForum.Web.Models.BindingModels.Users;
@model EditUserBindingModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.EditorForModel("Users/EditUserBindingModel")