@using TeamDataForum.Web.Models.BindingModels.Users
@model UserRegistrationBindingModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

@Html.EditorForModel()