@using TeamDataForum.Web.Models.ViewModels.Users
@model UserFullViewModel

@{
    ViewBag.Title = "User Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Status</h2>

@Html.DisplayForModel()