@using TeamDataForum.Web.Models.BindingModels.Users
@using TeamDataForum.Web.Models.ViewModels.Users
@model UserFullViewModel

@{
    ViewBag.Title = "User Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Status</h2>

@Html.DisplayForModel()

<button id="changePassword">Change password</button>
<button id="changeUserInformation">Change user information</button>

@Html.Partial("~/Views/Shared/UserPartials/UserPasswordPartial.cshtml", new PasswordBindingModel())

@Html.Partial("~/Views/Shared/UserPartials/UserNamesPartial.cshtml", new UserNamesBindingModel())

<script>
    var passDialog = $('#password-form').dialog({
        autoOpen: false,
        height: 350,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function () {
                passDialog.dialog("close");
            }
        },
        Close: function () {
            passDialog.dialog("close");
        }
    });

    var userDialog = $('#user-data').dialog({
        autoOpen: false,
        height: 500,
        width: 350,
        modal: true,
        buttons: {
            Cancel: function () {
                userDialog.dialog("close");
            }
        },
        Close: function () {
            passDialog.dialog("close");
        }
    });

    $('#changePassword').on('click', function () {
        passDialog.dialog('open');
    });

    $('#changeUserInformation').on('click', function () {
        var userFirstName = $('#user-firstname').text();
        var userLastName = $('#user-lastname').text();
        var userEmail = $('#user-email').text();

        $('#Firstname').val(userFirstName);
        $('#Lastname').val(userLastName);
        $('#Email').val(userEmail);

        userDialog.dialog('open');
    });

    $('#password-form').submit(function () {
        var data = $(this).serialize();
        $.ajax({
            url: this.action,
            method: this.method,
            data: data,
            success: function () {
                alert('Success.');
            },
            error: function () {
                alert('Error.')
            }
        });
        return false;
    });

    $('#user-data').submit(function () {
        var data = $(this).serialize();
        $.ajax({
            url: this.action,
            method: this.method,
            data: data,
            success: function () {
                alert('Success');
            },
            error: function () {
                alert('Error');
            }
        });
        return false;
    });
</script>