@using TeamDataForum.Web.Models.ViewModels.Users
@model UserFullViewModel

@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>ViewUser</h2>

@Html.DisplayForModel("Users/UserFullViewModel")