body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post {
    margin-top: 10px;
    border: 1px solid #ccc;
}

.post_number {
    text-align: right;
    padding-right: 5px;
    background-color: #ccc;
    font-weight: bold;
}

.post_item {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.post_user_data {
    width: 20%;
}

.post_user_post {
    width: 75%;
}