@using TeamDataForum.Web.Models.ViewModels.Forums
@model ForumViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Forum</th>
            <th>Last post</th>
            <th>Threads</th>
            <th>Posts</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subforum in Model.Subforums)
        {
            @Html.DisplayFor(m => subforum, "Forums/SubforumViewModel")
        }
    </tbody>
</table>