@using TeamDataForum.Web.Models.BindingModels.Users
@model ModeratorBindingModel

<div>@Model.Username</div>
<input type="checkbox" name="Moderators[@Model.Number].Id" value="@Model.Id" />
@Html.ValidationMessageFor(m => m.Id)