@using TeamDataForum.Web.Models.BindingModels.Users
@model ModeratorBindingModel

<input type="checkbox" name="Moderators" value="{Id=@Model.Id; Username=@Model.Username;}" /><label>@Model.Username</label>