@using TeamDataForum.Web.Models.ViewModels.Forums
@model ForumViewModel

@{
    ViewBag.Title = "Home";
    if (Model.User.IsRegistered)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/Login-style.css" rel="stylesheet" />
<div class="container">
    @Html.DisplayForModel("Forums/ForumViewModel")
</div>