@using TeamDataForum.Web.Models.ViewModels.Subforums
@model ForumViewModel

@{
    ViewBag.Title = "Home";
}
<link href="~/Content/Login-style.css" rel="stylesheet" />
<div class="container">
    @Html.DisplayForModel()
</div>
