@using TeamDataForum.Web.Models.BindingModels.Users
@model ImageUserBindingView

@using (Html.BeginForm("UploadAvatar", "Account", FormMethod.Post, new { Id = "uploadAvatar", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Image)
        <input type="file" id="Image" name="Image" />
        @Html.ValidationMessageFor(m => m.Image)
    </div>
    @Html.AntiForgeryToken()
    <input class="btn btn-success" type="submit" value="Upload image" />
}