@using TeamDataForum.Web.Models.BindingModels.Users
@model ModeratorBindingModel

@{
    var isChecked = @Model.IsChecked ? "checked" : string.Empty;
}

<div>@Html.DisplayFor(m => m.Username)</div>
<input type="checkbox" name="Moderators[@Html.DisplayFor(m => m.Number)].Id" value="@Html.DisplayFor(m => m.Id)" @isChecked />
@Html.ValidationMessageFor(m => m.Id)