@using TeamDataForum.Web.Models.BindingModels.Forums
@model IdentifiableForumBindingModel

<input type="hidden" name="Forum.Id" value="@Model.Id" />
<div>Forum: @Model.Title</div>
<div>Description: @Model.Description</div>
@Html.ValidationMessageFor(m => m.Id)