@model int

<section>
    <div class="btn-group">
        @Html.ActionLink("Edit forum", "Edit", "Forum", new { Id = Model }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete forum", "Delete", "Forum", new { Id = Model }, new { @class = "btn btn-primary" })
    </div>
</section>