@model int

<ul>
    <li>@Html.ActionLink("Edit forum", "Edit", "Forum", new { Id = Model }, null)</li>
    <li>@Html.ActionLink("Delete forum", "Delete", "Forum", new { Id = Model }, null)</li>
</ul>
