@model int

<section>
    <ul>
        <li>@Html.ActionLink("Edit thread", "Edit", "Thread", new { Id = Model }, null)</li>
        <li>@Html.ActionLink("Delete thread", "Delete", "Thread", new { Id = Model }, null)</li>
    </ul>
</section>
