@using TeamDataForum.Web.Models.BindingModels.Forums
@model DeleteForumBindingModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

@Html.EditorForModel()