@using TeamDataForum.Web.Models.BindingModels.Forums
@model EditForumBindingModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.EditorForModel("Forums/EditForumBindingModel")