@using TeamDataForum.Pagination.PaginationModels
@model Paginator

@if (!@Model.IsCurrentPage)
{
    <li>@Html.ActionLink(@Model.Page, Model.Action, Model.Controller, new { page = Model.Page }, null)</li>
}
else
{
    <li class="active">@Html.ActionLink(@Model.Page, Model.Action, Model.Controller, new { page = Model.Page }, null)</li>
}