@using TeamDataForum.Web.Models.ViewModels.Posts
@model PostViewModel

@if (Model != null)
{
    var postPath = $"#{Model.Id}";
    
    <div>@Html.ActionLink(Model.Title, "Threads", new { Id = Model.ThreadId + postPath })</div>
    <div>@Html.DisplayFor(m => m.Author)</div>
    <div>@Model.Date</div>
}