@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadsViewModel

<table>
    <thead>
        <tr>
            <th>Thread</th>
            <th>Latest Post</th>
            <th>Replies</th>
            <th>Views</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Threads)
    </tbody>
</table>
