@using TeamDataForum.Web.Models.BindingModels.Threads
@model ThreadBindingModel

@{
    ViewBag.Title = "Create new thread";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Create Thread</h2>

@Html.EditorForModel()