@using TeamDataForum.Web.Models.BindingModels.Threads
@model DeleteThreadBindingModel

@{
    ViewBag.Title = "Delete thread";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Delete</h2>

@Html.EditorForModel("Threads/DeleteThreadBindingModel")