@using TeamDataForum.Web.Models.BindingModels.Threads
@model DeleteThreadBindingModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

@Html.EditorForModel()