@using TeamDataForum.Web.Models.BindingModels.Threads
@model EditThreadBindingModel

@{
    ViewBag.Title = "Edit: " + Model.Title;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Edit</h2>

@Html.EditorForModel("Threads/EditThreadBindingModel")