@using TeamDataForum.Web.Models.BindingModels.Threads
@model EditThreadBindingModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@Html.EditorForModel()