@using TeamDataForum.Web.Models.ViewModels.Threads
@model ThreadFullViewModel

@{
    ViewBag.Title = "Threads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.DisplayForModel("Threads/ThreadFullViewModel")
</div>

